body,
html {
	font-family: 'Source Sans Pro', sans-serif;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
}



.btn {
	background-color: #F2545B;
	border-radius: 28px;
	font-weight: 700;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid #F2545B;
	padding: 1 rem 2 rem;
	size: 50px;
	border-width: 5px;
}


img {
	border-radius: 8px;
}

.blog, .bio, .contact, .other {
	padding: 30px;
}


@media only screen and (max-device-width: 480px) {
        div#wrapper {
            width: 400px;
        }

        div#header {
            background-image: url(media-queries-phone.jpg);
            height: 93px;
            position: relative;
        }

        div#header h1 {
            font-size: 140%;
        }

        #content {
            float: none;
            width: 100%;
        }

        #navigation {
            float:none;
            width: auto;
        }
    }