body,
html {
	font-family: 'Source Sans Pro', sans-serif;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
}



.btn {
	background-color: #F2545B;
	border-radius: 28px;
	font-weight: 700;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid #F2545B;
	padding: 1 rem 2 rem;
	size: 50px;
	border-width: 5px;
}


img {
	border-radius: 8px;
}

.blog, .bio, .contact, .other {
	padding: 30px;
}


